body {
  -webkit-print-color-adjust: exact;
  font-size: .95em; }

a[href]:after {
  content: none !important; }

blockquote {
  border: 0; }

#photo {
  display: none; }

.box {
  margin-bottom: -10px; }

.col-sm-5 {
  padding: 0 15px;
  width: 40%; }

.col-sm-7 {
  padding: 0 15px;
  width: 60%; }

.skills .col-sm-offset-1,
.interests .col-sm-offset-1 {
  margin-bottom: 5px;
  margin-top: -10px; }

.description {
  width: 90%; }

.job .highlights {
  color: #334960; }

.job .list-group {
  list-style-type: disc;
  max-height: none;
  overflow: auto;
  padding-left: 30px; }

.list-group-item {
  border: none;
  display: list-item;
  margin: 0;
  padding: 5px 15px; }
