body {
  background: #F0F0F0;
  color: #363636;
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400; }

h2 {
  color: #227c74;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase; }

h3 {
  color: #334960;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
  width: 100%; }

blockquote {
  font-size: 1em;
  font-style: italic; }
  blockquote footer {
    margin-top: 10px; }

.container {
  background: #fff;
  margin-bottom: 15px;
  margin-top: 20px; }

#title {
  padding-top: 20px; }
  #title img {
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #227c74;
    margin: 0 auto; }
  #title h1 {
    font-weight: 700;
    text-transform: uppercase; }
  #title h3 {
    color: #334960;
    font-size: 1.2em;
    margin: 0;
    opacity: 0.7; }

.ico {
  margin-right: 5px; }

#general-info {
  font-weight: 700; }
  #general-info div .ico {
    line-height: 20px;
    position: absolute; }
  #general-info a,
  #general-info span {
    padding: 5px 10px 5px 30px; }

.skill {
  background: #32475c;
  color: #fff;
  display: inline-block;
  font-size: .85em;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px 10px;
  position: relative; }
  .skill.badge {
    font-weight: 500; }

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%; }
  .timeline h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0; }
  .timeline p {
    margin-top: 5px;
    padding: 0; }
  .timeline li {
    float: left;
    position: relative;
    width: 100%;
    z-index: 2; }
  .timeline .year {
    background: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    width: 14%; }
  .timeline .description {
    background: #eee;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    width: 83%; }
  .timeline:before {
    background: #32475c;
    background: -moz-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(7%, #32475c), color-stop(89%, #32475c), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    content: ' ';
    display: block;
    height: 100%;
    left: 35px;
    position: absolute;
    top: 0;
    width: 5px; }

.job .details {
  background: #eee;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 10px;
  margin-left: 3%;
  padding: 10px;
  width: 95%; }
  .job .details a,
  .job .details span {
    display: block; }

.job .description {
  line-height: 1.5em; }

.job .highlights {
  color: #007bff;
  cursor: pointer;
  font-weight: 700;
  padding: 5px 0;
  text-decoration: underline;
  transition: 0.4s; }

.job .list-group {
  margin: 10px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.job .job-details {
  padding-left: 5%;
  width: 100%; }

.job .year {
  opacity: 0.7; }
