body {
    background : #F0F0F0;
    color      : #363636;
    font-family: 'Open Sans', Arial, Tahoma;
    font-weight: 400;
}

.container {
    background   : #fff;
    margin-bottom: 15px;
    margin-top   : 20px;
}

blockquote {
    font-size: 1em;

    footer {
        margin-top: 10px;
    }
}

#title {
    padding-top: 20px;

    img {
        height          : 200px;
        width           : 200px;
        display         : block;
        border-radius   : 200px;
        box-sizing      : border-box;
        background-color: #DDD;
        border          : 5px solid #227c74;
        margin          : 0 auto;
    }

    h1 {
        font-weight   : 700;
        text-transform: uppercase;
    }

    h3 {
        color    : #334960;
        font-size: 1.2em;
        margin   : 0;
        opacity  : 0.7;
    }
}

.box h2 {
    color         : #227c74;
    font-size     : 1.5em;
    font-weight   : 700;
    margin-top    : 20px;
    text-transform: uppercase;
}

.ico {
    margin-right: 5px;
}

.info-item {
    font-weight: 700;
    padding    : 5px 10px;

    .ico {
        line-height: 20px;
        position   : absolute;
    }

    a,
    span {
        padding: 5px 10px 5px 30px;
    }
}

.item-skills {
    color        : #334960;
    font-size    : 1.1em;
    font-weight  : 600;
    height       : 30px;
    margin-bottom: 5px;
    overflow     : hidden;
    padding      : 5px 10px;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.skill {
    background   : #32475c;
    color        : #fff;
    display      : inline-block;
    font-size    : .85em;
    margin-bottom: 5px;
    margin-right : 5px;
    padding      : 5px 10px;
    position     : relative;

    &.badge {
        font-weight: 500;
    }
}

#language-skills .skill {
    border-bottom : 1px solid #eee;
    margin        : 10px 0;
    padding-bottom: 10px;
}

#awards,
#education {
    list-style: none;
    margin    : 0;
    padding   : 0;
    position  : relative;
}

#awards:before,
#education:before {
    background: #32475c;
    background: -moz-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(7%, #32475c), color-stop(89%, #32475c), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    content   : ' ';
    display   : block;
    height    : 100%;
    left      : 35px;
    position  : absolute;
    top       : 0;
    width     : 5px;
}

#awards li,
#education li {
    float   : left;
    position: relative;
    width   : 100%;
    z-index : 2;
}

#awards .year,
#education .year {
    background : #fff;
    display    : inline-block;
    font-weight: 700;
    padding    : 10px;
    width      : 14%;
}

#awards .description,
#education .description {
    background   : #eee;
    border-bottom: 1px solid #ccc;
    border-right : 1px solid #ccc;
    display      : inline-block;
    margin-bottom: 10px;
    padding      : 10px;
    position     : relative;
    width        : 83%;
}

#awards .description:after,
#education .description:after {
    border            : solid transparent;
    border-right-color: #eee;
    border-width      : 8px;
    content           : '';
    height            : 0;
    left              : -16px;
    pointer-events    : none;
    position          : absolute;
    right             : 0;
    top               : 15px;
    width             : 0;
}

#awards .description h3,
#education .description h3 {
    font-size  : 1.2em;
    font-weight: 700;
    margin     : 0;
    padding    : 0;
}

#awards .description p,
#education .description p {
    margin-top: 5px;
    padding   : 0;
}

.job {
    .details {
        background   : #eee;
        border-bottom: 1px solid #ccc;
        border-right : 1px solid #ccc;
        margin-bottom: 10px;
        margin-left  : 3%;
        padding      : 10px;
        width        : 95%;
    }

    .description {
        line-height: 1.5em;
    }

    .highlights {
        cursor         : pointer;
        font-weight    : 700;
        padding        : 5px 0;
        text-decoration: underline;
        transition     : 0.4s;
    }

    .list-group {
        margin    : 10px 0;
        max-height: 0;
        overflow  : hidden;
        transition: max-height 0.2s ease-out;
    }

    .job-details {
        padding-left: 5%;
        width       : 100%;
    }

    .where,
    .profession {
        font-size  : 1.2em;
        font-weight: 700;
    }

    .year {
        opacity: 0.7;
    }
}